<ion-header  class="asphalt-header">
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Skeleton loader -->
  <div *ngIf="loading">
    <ion-list>
      <ion-card *ngFor="let i of [1, 2, 3]" class="ion-animated ion-fade-in-up asphalt-secondary rounded-xl">
        <ion-skeleton-text animated style="width: 100%; height: 160px;"></ion-skeleton-text>
        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></p>
          <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
          <p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
          <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <!-- Events list -->
  <ion-list *ngIf="!loading && events.length > 0">
    <ion-card *ngFor="let event of events" class="ion-animated ion-fade-in-up asphalt-secondary rounded-xl">
      <img src="https://picsum.photos/800/400?random={{event.id}}" alt="Event Image">
      <ion-card-header>
        <ion-card-title>{{event.name}}</ion-card-title>
        <ion-card-subtitle>{{event.club.clubName}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{event.description}}</p>
        <p>{{event.startTime | date:'short'}} - {{event.endTime | date:'short'}}</p>
        <p>{{event.location}}</p>
        <p>Organized by: {{event.createdBy.username}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- No events message -->
  <div *ngIf="!loading && events.length === 0" class="ion-text-center ion-padding-top">
    <ion-icon name="sad-outline" style="font-size: 4em;"></ion-icon>
    <h2>No Events Found</h2>
    <p>There are currently no events scheduled. Please check back later.</p>
  </div>
</ion-content>
