<ion-header>
  <ion-toolbar>
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button> <!-- Provide a fallback URL with defaultHref -->
    </ion-buttons>
    <ion-title>Create new group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
     
      <ion-input label="Group Name" [(ngModel)]="groupName" required></ion-input>
    </ion-item>

    <ion-item>
      
      <ion-textarea label="Group Description" [(ngModel)]="description" required></ion-textarea>
    </ion-item>

    <ion-item>
      
      <ion-input label="Location" [(ngModel)]="location"></ion-input>
    </ion-item>

    <ion-item>
      
      <ion-input label="Members Count" type="number" [(ngModel)]="membersCount"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="registerGroup()">Register Group</ion-button>
  </ion-list>
</ion-content>