<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/groups"></ion-back-button>
    </ion-buttons>
    <ion-title>{{club?.clubName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="custom-fab">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="goToCreateEvent()">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{club?.clubName}}</ion-card-title>
      <ion-card-subtitle>{{club?.location}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{club?.description}}</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Members</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let member of club?.members">
      <ion-label>{{member.username}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Events</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let event of events">
      <ion-label>
        <h2>{{event.name}}</h2>
        <p>{{event.description}}</p>
        <p>{{event.startTime | date:'short'}} - {{event.endTime | date:'short'}}</p>
        <p>{{event.location}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>