<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clubs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding asphalt-background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clubs</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createGroup()" class="asphalt-fab">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-club-list></app-club-list>
</ion-content>